<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <h3>Semifinal</h3>
                    <div class="card" *ngFor="let champion of semifinalsBattle">
                        <div class="wrapper">
                            <img [src]="champion.img" class="cover-image" alt="imagem">
                            <span>{{champion.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="arrow-icon row col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="col-12">
                        <div class="arrow-icon">
                            <span class="material-symbols-outlined arrow">
                                arrow_forward
                            </span>
                        </div>
                        <div class="action-btn">
                            <button class="btn btn-success" [disabled]="finalBattle.length > 0" (click)="advancePlayer()">Battle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <h3>Final</h3>
                    <div class="champions">
                        <div class="card" *ngFor="let champion of finalBattle">
                            <div class="wrapper">
                                <img [src]="champion.img" class="cover-image" alt="imagem">
                                <span>{{champion.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="finalBattle.length > 0 " class="arrow-icon row col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="col-12 arrow-final">
                        <div class="arrow-icon">
                            <span class="material-symbols-outlined arrow">
                                arrow_forward
                            </span>
                        </div>
                        <div class="action-btn">
                            <button [disabled]="championPlayer.name == champion.name" class="btn btn-success" (click)="advancePlayer()">Battle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
            <h3>Champion</h3>
            <div class="card champion" *ngIf="championPlayer.name == champion.name">
                <div class="wrapper">
                    <img [src]="champion.img" class="cover-image" alt="imagem">
                    <span>{{champion.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>